/* general page layout and fonts */
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap');

* {
    margin: 0;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Piazzolla', sans-serif;
}



/*this is our header*/
#header-container {
    display: flex;
    height: 15vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 1vw;
    padding-bottom: 2vw;
    font-size: 40pt;
    align-content: end;
}

#info-area-container {
    display: flex;
    justify-content: center;
} 

#game-info-area {
    width: 50vw;
}

#room-image {
    width: 25vw;
    height: 25vw;
}

/* buttons box */
#command-area {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

#action {
    width: 25vw;
    margin-left: 2vw;
}

#statusArea {
    margin: 1vw;
    padding: 2vw;
    width: 45vw;
    background-color: silver;
    margin-left: 2vw;
}

